extends layout

block content
	h1 Hotel List
	ul
		if hotellist !== undefined
			each hotel, i in hotellist
				li
					a(href="")= hotel.url
	hr
	h1 Search Hotel
	form(name='searchhotel',action='/hotels/searchhotel',method='post')
		input(type='text',placeholder='city,state',name='hotelcitystate')
		input(type='text',placeholder='url',name='hotelurl')
		
		input(type='submit',value='Search')